{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>ReleaseDate</th>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% for actor in movie.actors %}
                <tr>
                    <th>Name</th>
                    <td>{{ actor.lastName }}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ actor.firstName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}
    {{ include('movie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
