{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ actor.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ actor.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actor_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('actor/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
